
//絶対位置の指定
@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin putPrefix($property, $value) {
    @each $prefix in -webkit-,　-moz-, -ms-,　-o-,
    '' {
        #{$prefix}#{$property}: $value;
    }
}


$header-con-color :rgb(1, 132, 137);
$text-color : rgb(72, 72, 72);
$text-input :#484848;
$font-text-1: 0.9rem;


html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',YuGothic,'Yu Gothic',sans-serif;
    font-size: $font-text-1;
    font-weight: 300;
    color: #484848;
}

//header
#width-header {
    display: none;
    #header-icon-area {
        display: none;
    }
    ul {
        display: none;
    }
    #side-header-area {
        display: none;
    }
}

.over-menu-area {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10;
    transform: translateY(-100%);
}

.opacity-false-area {
    opacity: 0;
    pointer-events: none;
}
.opacity-true-area {
    opacity: 1;
}

.middle-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
    .middle-header-icon-area {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 30px;
        height: 30px;
    }
    .middle-menu-open-menu {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: white;
        opacity: 0.6;
        top: 0;
        left: 0;
        ul {
            width: 300px;
            margin: 0 auto;
        }
    }
    .middle-menu-fixed-area {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 60px;
        transition: all 1s ease;
        background-color: white;
        border-bottom: solid 1px #EBEBEB;
        ul {
            width: calc(100% - 60px);
            margin: 0 30px;
            height: 100%;
            @include putPrefix(display, flex);
            @include putPrefix(align-items, center);
            li {
                @include putPrefix(display, flex);
                @include putPrefix(align-items, center);
                margin-right: 10px;
                height: 100%;
                list-style: none;
                vertical-align: middle;
                a {
                    font-weight: 600;
                    text-decoration: none;
                    color: $text-color;
                    vertical-align: middle;
                }
            }
            li:first-child {
                border-bottom: solid 2px $header-con-color;
            }
        }
    }

    .middle-sub-header-area {
        display: flex;
        transition: all .5s ease;
        border-top: solid 1px #EBEBEB;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        p {
            font-size: .9rem;
        }
        .header-kingaku {
            font-size: 1rem;
            margin-left: 10px;
            font-weight: 800;
        }
        button {
            color: white;
            font-size: .8rem;
            padding: 10px 15px;
            background-color: #DB3742;
            border-radius: 5px;
            margin: 0 10px;
        }
    }
}

// main
.main-wrapper {
    z-index: 2;
    width: 100%;
    #top-header-area {
        width: 100%;
        #top-header-img {
            height: 240px;
            width: 100%;
            object-fit: cover;
            object-position:0 0;
            position: relative;
        }
        .form-header-middle {
            position: absolute;
            color: white;
            font-size: 1.8rem;
            font-weight: 600;
            width: 100%;
            text-align: center;
            top: 27%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin:0;
            padding:0;
        }

        #top-header-form {
            @include putPrefix(display, flex);
            @include putPrefix(flex-wrap, wrap);
            width: calc(100% - 60px);
            margin: 30px;
            .form-header {
                display: none;
            }
            
            p {
                width: 100%;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 30px;
                span {
                    font-size: $font-text-1;
                    font-weight: 200;
                }
            }
            span {
                width: 100%;
                margin-bottom: 10px;
                font-size: 1rem;
                font-weight: 500;
            }
            input {
                width: 100%;
                height: 35px;
                margin-bottom: 5px;
                font-size: 1rem;
                text-indent: 1em;
            }
            input[type="text"]:focus {
                border: 1px solid $header-con-color;
                outline: 0;
            }
            #rent-type {
                width: 100%;
                height: 35px;
                font-size: 1rem;
                text-indent: 1em;
            }
            #num-people {
                width: 100%;
                height: 35px;
                margin-top: 10px;
                margin-bottom: 30px;
                font-size: 1rem;
                text-indent: 1em;
            }
            .drop-down {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-image: url('../img/icon_arrow.svg');
                background-repeat: no-repeat;
                background-size: 20px 10px;
                background-position: right 10px center;
            }
            .drop-down:-ms-expand {
                display: none;
            }
            .drop-down:focus {
                border: 1px solid $header-con-color;
                outline: 0;
            }
            .input-form {
                border:solid 0.5px #EBEBEB;
                border-radius:10px;
                background-color: white;
                color: $text-input;
                font-weight: 200;
            }
            button {
                width: 100%;
                background-color: #FF5A5F;
                color: white;
                border-radius: 5px;
                height: 50px;
                font-size: $font-text-1;
            }
        }
    }
}

.sub-header-area {
    @include putPrefix(display, flex);
    @include putPrefix(flex-wrap, wrap);
    margin: 50px 20px;
    .sub-header {
        display: block;
        width: 100%;
        margin-bottom: 50px;
    }
    p {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 30px;
        width: 100%;
    }
    span {
        display: inline-block;
        font-size: 1rem;
        font-weight: 200;
        line-height: 28px;
        width: 100%;
    }
}

.separate-line:before {
    content: '';
    position: absolute;
    left: 50%;
    /*下線の上下位置調整*/
    display: inline-block;
    width: 50px;
    /*下線の幅*/
    height: 2px;
    /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    /*位置調整*/
    background-color: #666666;
    /*下線の色*/
}
.separate-line {
    margin-bottom: 80px;
    position: relative;
}

.first-explanation-are {
    @include putPrefix(display, flex);
    @include putPrefix(flex-wrap, wrap);
    width: 648px;
    margin: 100px auto;
    .hosting-explanation-contents {
        width: 100%;
        margin-bottom: 20px;
        .check-icon-area {
            height: 50px;
            .check-icon{
                padding-left:24px;
                position:relative;
            }
            .check-icon:before,
            .check-icon:after{
                content:"";
                display:block;
                position:absolute;
            }
            .check-icon:before{
                width:43px;
                height:43px;
                border-radius:50px;
                background:#ffffff;
                border:1px solid $text-color;
                left:0;top:2px;
            }
            .check-icon:after{
                border-left:3px solid $text-color;
                border-bottom:3px solid $text-color;
                width:12px;
                height:5px;
                -webkit-transform:rotate(-45deg);
                transform:rotate(-45deg);
                left:16px;
                top:18px;
            }
       }
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    p {
        font-size:1rem;
        font-weight: 200;
        line-height: 28px;
        margin-bottom: 30px;
    }
    a {
        color: $header-con-color;
        text-decoration: none;
    }
}
.area-header {
    display: block;
    width: 100%;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
    font-size: 2.5rem;
}

#host-comment-area-1 {
    @include putPrefix(display, flex);
    @include putPrefix(justify-content, center);
    @include putPrefix(flex-wrap, wrap);
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
}
.host-comment-area {
    width: calc(50% - 15px);
    margin-right: 30px;
    .host-comment-text-1 {
        font-size: 1.2rem;
        line-height: 26px;
        margin-top: 40px;
    }
    .host-comment-text-2 {
        font-size: .9rem;
        line-height: 18px;
        margin-top: 20px;
        font-weight: 150;
    }
    button {
        margin-top: 20px;
        width: 224px;
        background-color: white;
        border: solid 2px $text-color;
        font-size: 1rem;
        padding: 10px 20px;
        font-weight: 400;
        border-radius: 5px;
    }
}
.host-img-area {
    width: calc(50% - 15px);
    img {
        width: 324px;
        height: 324px;
        object-fit: cover;
    }
}

.blockquote:before {
    content: "“";
    display: inline-block;
    position: absolute;
    font-family: sans-serif;
    font-size: 6rem;
    line-height: 1;
    color: #FDB32B;
}

.blockquote p {
    padding: 0;
    margin: 10px 0;
    position: relative;
}


.are-header {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 60px;
}


.warranty-description-are {
    @include putPrefix(display, flex);
    @include putPrefix(flex-wrap, wrap);
    width: 648px;
    margin: 0 auto;
    margin-top: 150px;
    #warranty-description-context {
        width: 100%;
        line-height: 28px;
        font-weight: 300;
    }
    a {
        display: block;
        width: 100%;
        margin-top: 20px;
        color: $header-con-color;
        text-decoration: none;
    }
    .description-check-list {
        margin-top: 20px;
        width: 100%;
        .chek-context {
            @include putPrefix(display, flex);
            margin-top: 20px;

            .check-mark {
                width: 10%;

                .check-mark-icon {
                    padding-left: 24px;
                    position: relative;
                }

                .check-mark-icon:before,
                .check-mark-icon:after {
                    content: "";
                    display: block;
                    position: absolute;
                }

                .check-mark-icon:after {
                    border-left: 1px solid $header-con-color;
                    border-bottom: 1px solid $header-con-color;
                    width: 15px;
                    height: 8px;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    left: 16px;
                }
            }


            span {
                width: 5%;
            }
            p {
                width: 95%;
            }
        }
    }
    img {
        margin: 50px auto;
        width: 100%;
    }
}

.payment-explanation-area {
    width: 648px;
    margin: 0 auto;
    .payment-text-area {
        @include putPrefix(display, flex);
        @include putPrefix(flex-wrap, wrap);
        .payment-text {
            width: 536px;
            margin: 0 auto;
            margin-bottom: 50px;
            @include putPrefix(display, flex);
            @include putPrefix(flex-wrap, wrap);
            p {
                width: 100%;
                font-size: 1.4rem;
                line-height: 30px;
                margin-bottom: 20px;
                font-weight: 600;
            }
            span {
                width: 100%;
                font-size: 1rem;
                line-height: 28px;
            }
            a {
                width: 100%;
                margin-top: 20px;
                color: $header-con-color;
                text-decoration: none;
            }
        }
    }

    #host-comment-area-2 {
        @include putPrefix(display, flex);
        @include putPrefix(justify-content, center);
        @include putPrefix(flex-wrap, wrap);
        margin: 0 auto;
        margin-top: 100px;
        width: 100%;
        margin-bottom: 50px;
        .host-comment-area {
            order: 2;
            margin: 0;
            margin-left: 30px;
        }
        .host-img-area {
            order: 1;
        }
    }
}

.num-user-area {
    @include putPrefix(display, block);
    width: 697px;
    margin: 30px auto;
    margin-bottom: 100px;
    .num-user-count-are {
        @include putPrefix(display, flex);
        @include putPrefix(flex-wrap, wrap);
        .num-user {
            width: calc(33.3% - 60px);
            margin: 0 30px;
            h4 {
                text-align: center;
                font-size: 2.3rem;
                font-weight: 300;
                margin-bottom: 20px;
            }
            p {
                text-align: center;
            }
        }
    } 
}

.about-service-area {
    width: 536px;
    margin: 0 auto;
    margin-top: 130px;
    .about-service {
        @include putPrefix(display, flex);
        @include putPrefix(flex-wrap, wrap);
        .about-service-context {
            margin-bottom: 20px;
            width: 100%;
            h4 {
                font-size: 1.4rem;
                font-weight: 600;
                margin-bottom: 20px;

            }
            p {
                line-height: 28px;
                margin-bottom: 20px;
            }
            a {
                color: $header-con-color;
                text-decoration: none;
            }
        }
    }
}


.question-area {
    width: 648px;
    margin: 0 auto;
    .question-list {
        width: 100%;
        @include putPrefix(display, flex);
        @include putPrefix(flex-wrap, wrap);
        .question-context {
            width: 100%;
            margin-bottom: 30px;
            a {
                color: $header-con-color;
                text-decoration: none;
                font-size: 1rem;
            }
            hr {
                margin-top: 30px;
                color: #FFFFFF;
            }
        }
    }
}

.detail-area {
    width: 648px;
    margin: 50px auto;
    p {
        text-align: left;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 30px;
        margin-left: 20px;
    }
    .detail-list {
        width: 100%;
        @include putPrefix(display, flex);
        @include putPrefix(flex-wrap, wrap);
        .detail-card {
            box-shadow: 0 1px 3px rgba(0,0,0,.2);
            width: calc(33.3% - 40px);
            margin: 10px 20px;
            img {
                width: 100%;
            }
            .card-text {
                width: 100%;
                h5 {
                    font-size: .9rem;
                    font-weight: 300;
                    padding: 5px 10px;
                }
                p {
                    font-size: 0.9rem;
                    font-weight: 200;
                    line-height: 20px;
                    padding: 5px 10px;
                }
                a {
                    color: $header-con-color;
                    text-decoration: none;
                    display: none;
                }
            }
        }
    }
}

.border-message-area {
    width: 100%;
    position: relative;
    img {
        height: 440px;
        width: 100%;
        object-fit: cover;
    }
    .border-message-text {
        position: absolute;
        top: 20%;
        left: 10%;
        h2 {
            color: white;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 64px;
            width: 350px;
        }
        button {
            margin-top: 30px;
            color: $text-color;
            background-color: white;
            border-radius: 5px;
            font-size: 1rem;
            line-height: 24px;
            font-weight: 600;
            padding: 10px 20px;
        }
    }
}
.footer-menu-area{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 20px;
    border-bottom: solid 1px #EBEBEB;
    @include putPrefix(display, flex);
    .link-list {
        width: calc(25% - 40px);
        margin: 0 20px;
        @include putPrefix(display, flex);
        @include putPrefix(flex-direction, column);
        h4 {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 20px;

        }
        a {
            text-decoration: none;
            font-size: .9rem;
            font-weight: 400;
            margin: 5px 0;
            color: $text-color;
        }
         a:hover {
             text-decoration: underline;
         }
    }
}

.license-area {
    width: calc(100% - 40px);
    margin: 0 20px;
    margin-top: 30px;
    @include putPrefix(display, flex);
    @include putPrefix(flex-wrap, wrap);
    img {
        width: 17px;
    }
    .authorization {
        @include putPrefix(display, flex);
        @include putPrefix(flex-wrap, wrap);
        width: calc(100% - 17px);
        @include putPrefix(display, flex);
        a {
            margin-left: 20px;
            color: $text-color;
            text-decoration: none
        }
        a:hover {
            text-decoration: underline;
        }
        .sns-area {
            margin-left: auto;
            i {
                margin: 0 8px;
            }
        }
    }
    .license {
        display: none;
    }
}




//画面横400px-　スマホサイズ
@media screen and (min-width:400px)and (max-width:768px) {
    .main-wrapper {
        width: 100%;
    }
    .sub-header-area {
        width: calc(100% -10px);
    }
    .first-explanation-are {
        width: calc(100% - 20px);
        margin: 50px 10px;
        
        .hosting-explanation-contents {
            width: 100%;
        }
    }
    .area-header {
        text-align: left;
    }
    .host-comment-area-1 {
        width: 100%;
    }
    .host-comment-area {
        width: 100%;
        order: 2;
        .host-comment-text-2 {
            margin: 10px 0;
        }
    }
    .host-img-area {
        display: block;
        width: 100%;
        margin: 0 auto;
        order: 1;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .warranty-description-are {
        width: calc(100% - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }
    .payment-explanation-area {
        width: calc(100% - 20px);
        margin-right: 10px;
        margin-left: 10px;
        .payment-text-area {
            .payment-text {
                width: 100%;
            }
        }
    }

    .num-user-area {
        width: calc(100% - 20px);
        margin-right: 10px;
        margin-left: 10px;
        .num-user-count-are {
            width: 100%;
            .num-user {
                width: 100%;
                margin: 10px 0;
                h4 {
                    text-align: left;
                    margin-bottom: 10px;
                }
                p {
                    text-align: left;
                }
            }
        }
    }
    .about-service-area {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }


    .question-area {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }


    .detail-area {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        p {
            margin-left: 0
        }
        .detail-list {
            .detail-card {
                width: 100%;
                margin: 10px 0;
                @include putPrefix(display, flex);
                @include putPrefix(align-items, center);
                img {
                    width: 76px;
                    height: 76px;
                    object-fit: cover; 
                }
            }
        }
    }

    .border-message-area {
        width: 100%;
        position: relative;
        img {
            height: 375px;
            width: 100%;
            object-fit: cover;
        }
        .border-message-text {
            top: 10%;
            left: 5%;
            h2 {
                font-size: 2.4rem;
            }
        }
    }

    .footer-menu-area{
        display: none;
    }

    .license-area {
        .authorization {
            .sns-area {
                display: none;
            }
        }
    }
}

//画面横768px-1024px　タブレットサイズ
@media screen and (min-width:768px) and (max-width:1023px) {
    .sub-header-area {
        margin: 50px auto;
        width: 664px;
    }
}
//画面横1024px-　PCデスクトップサイズ
@media screen and (min-width:1024px) {
    .over-menu-area {
        display: none;
    }
    #width-header {
        position: relative;
        z-index: 1;
        @include putPrefix(display, flex);
        @include putPrefix(align-items, center);
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: white;
        width: 100%;
        height: 70px;

        #header-icon-area {
            display: block;
            width: 50px;
            margin: 0 20px;

            #header-icon {
                height: 5%;
                width: 5%;
                min-height: 30px;
                min-width: 30px;
                margin: 10px;
            }
        }

        ul {
            list-style: none;
            @include putPrefix(display, flex);
            margin: 0;
            padding: 0;
            height: 100%;

            li {
                @include putPrefix(display, flex);
                @include putPrefix(align-items, center);
                height: 100%;
                margin-right: 30px;

                a {
                    color: $text-color;
                    text-decoration: none;
                    font-size: $font-text-1;
                }
            }

            li:not(:first-child) a:hover {
                border-bottom: solid 1px $text-color;
            }

            li:first-child {
                border-bottom: solid 1.5px $header-con-color;

                a {
                    color: $header-con-color;
                }
            }
        }

        #side-header-area {
            margin: 0 50px 0 auto;
            @include putPrefix(display, flex);
            @include putPrefix(justify-content, flex-end);

            p {
                line-height: 40px;
                display: inline-block;
                vertical-align: bottom;
            }

            p:first-child {
                font-weight: 200;
                margin-right: 10px;
            }

            .header-kingaku {
                font-weight: 600;
                font-size: 1.3rem;
            }

            button {
                background-color: #DB3742;
                border-radius: 5px;
                color: white;
                padding: 5px 15px;
                font-size: $font-text-1;
                margin-left: 20px;
            }
        }

        .collapse-header-menu-area {
            display: none;
        }
    }
    .main-wrapper {
        #top-header-area {
            #top-header-img {
                height: 650px;
                width: 100%;
            }

            #top-header-form {
                background-color: white;
                border-radius: 5px;
                position: absolute;
                top: 12%;
                right: 3%;

                width: 25%;
                padding: 30px;

                p {
                    width: 100%;
                    font-size: 2.3rem;
                    font-weight: 600;
                    margin-bottom: 30px;

                    span {
                        font-size: $font-text-1;
                        font-weight: 200;
                    }
                }

                span {
                    width: 100%;
                    margin-bottom: 5px;
                    font-size: 1rem;
                }

                input {
                    width: 100%;
                    height: 50px;
                    margin-bottom: 5px;
                    font-size: 1rem;
                    text-indent: 1em;
                }

                input[type="text"]:focus {
                    border: 1px solid $header-con-color;
                    outline: 0;
                }

                #rent-type {
                    width: calc(70% - 30px);
                    height: 50px;
                    margin-bottom: 10px;
                    margin-right: 30px;
                    font-size: 1rem;
                    text-indent: 1em;
                }

                #num-people {
                    width: 30%;
                    height: 50px;
                    margin-bottom: 30px;
                    font-size: 1rem;
                    text-indent: 1em;
                }

                .drop-down {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-image: url('../img/icon_arrow.svg');
                    background-repeat: no-repeat;
                    background-size: 20px 10px;
                    background-position: right 10px center;
                }

                .drop-down:-ms-expand {
                    display: none;
                }

                .drop-down:focus {
                    border: 1px solid $header-con-color;
                    outline: 0;
                }

                .input-form {
                    border: solid 0.5px #EBEBEB;
                    border-radius: 10px;
                    background-color: white;
                    color: $text-input;
                    font-weight: 200;
                }

                button {
                    width: 100%;
                    background-color: #FF5A5F;
                    color: white;
                    border-radius: 5px;
                    height: 50px;
                    font-size: $font-text-1;
                }
            }
        }

    }
    .middle-header {
        display: none;
    }
    .form-header-middle {
        display: none;
    }

    .main-wrapper {
        margin-top: 80px;
        #top-header-area {
            #top-header-img {
                display: block;;
                width: 100%;
                margin: 0 auto;
                object-fit: cover;
            }
            #top-header-form {
                top: 18%;
                right: 8%;
                width: 27%;
            }
        }
    }
    .sub-header-area {
        display: flex;
        width: 1048px;
        margin: 50px auto;
        .sub-header {
            display: block;
            width: calc(50% - 25px);
        }
        .sub-header:first-child {
            margin-right: 50px;
        }
        p {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 30px;
        }

        span {
            display: inline-block;
            font-size: 1rem;
            font-weight: 200;
            line-height: 28px;
            width: 450px;
        }
    }

    .first-explanation-are {
        width: 100%;
        justify-content: center;
        .hosting-explanation-contents {
            width: 280px;
            margin-right: 50px;
        }
        .hosting-explanation-contents:last-child {
            margin-right: 0;
        }
    }

    #host-comment-area-1 {
        width: 1080px;
    }
    .host-comment-area {
        width: 433px;
        .host-comment-text-1 {
            line-height: 40px;
            font-size: 2rem;
            margin-top: 70px;
        }
        .host-comment-text-2 {
            line-height: 22px;
            font-size: 1rem;
        }
        button {
            font-size: 1rem;
            font-weight: 600;
        }
    }
    .host-img-area {
        width: 516px;
        img {
            width: 516px;
            height: 516px;
        }
    }
    .blockquote:before {
        font-size: 9rem;
    }
    .area-header {
        font-size: 3.5rem;
        font-weight: 600;
    }

    .warranty-description-are {
        width: 100%;
        justify-content: center;

        #warranty-description-context {
            order: 1;
            width: 420px;
            margin-right: 50px;
            margin-top: 10px;
        }
        .description-check-list {
            order: 2;
            width: 420px;
            margin: 0;
        }
        a {
            margin-top: 30px;
            width: 100%;
            order: 3;
            text-align: center;
        }
        img {
            margin-top: 100px;
            width: 1032px;
            order: 4;
        }
    }
    .payment-explanation-area {
        width: 1080px;
        .payment-text-area {
            width: 100%;
            .payment-text {
                width: calc(33.3% - 40px);
                margin: 0 20px;
            }
        }
    }

    .num-user-area {
        width: 1080px;
        margin-bottom: 150px;
        .num-user-count-are {
            .num-user {
                h4 {
                    font-size: 3.5rem;
                    font-weight: 300;
                }
            }
        }
    }
    .about-service-area {
        width: 1080px;
        margin-bottom: 150px;
        margin-top: 200px;
        .about-service {
            .about-service-context {
                width: calc(50% - 40px);
                margin: 0 20px;
                p {
                    font-size: 1rem;
                }
            }
        }
    }


    .question-area {
        width: 1080px;
        margin-top: 200px;
        .question-list {
            width: 100%;
            .question-context {
                width: calc(50% - 60px);
                margin-right: 30px;
                a {
                    font-size: 1.1rem;
                }
            }
        }
    }

    .detail-area {
        width: 1080px;
    }

    .border-message-area {
        .border-message-text {
            h2 {
                font-size: 3.7rem;
                font-weight: 500;
                line-height: 64px;
                width: 500px;
            }
            button {
                margin-top: 30px;
                color: $text-color;
                background-color: white;
                border-radius: 5px;
                font-size: 1rem;
                line-height: 24px;
                font-weight: 600;
                padding: 10px 20px;
            }
        }
    }

    .footer-menu-area{
        width: 1048px;
        margin: 0 auto;
        margin-top: 100px;
    }

    .license-area {
        width: 1080px;
        margin: 20px auto;
        margin-bottom: 50px;
        .license {
            display: block;
            margin-left: 20px;
            a {
                margin: 0;
            }
            span {
                display: inline;
                text-align: center;
            }
        }
    }
}

// 大型モニターサイズ
@media screen and (min-width:1600px) {
    .main-wrapper {
        width: 1600px;
        margin: 0 auto;
        margin-top: 80px;
        #top-header-area {
            #top-header-img {
                width: 1600px;
                margin: 0 auto;
            }
            #top-header-form {
                top: 18%;
                right: 10%;
                width: 23%;
            }
        }
        .area-header {
            font-size: 3.5rem;
            font-weight: 600;
        }
    }
}